.category {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.transition-transform {
    transition: transform 0.3s ease-in-out;
}
.item-container {
    animation: anim 2s ease;
}

@keyframes anim {
    0%{
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}