@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
body, html, #root {
  min-width: 100vh;
  min-height: 100vh;
}
.container {
  position: absolute;
  top: 80px;
  z-index: 0;
  min-width: 100%;
  
}
