.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }
  
  /* Стилизация под textarea */
  .ProseMirror {
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    min-height: 300px;
    max-height: 500px;
    overflow-y: auto;
    
    &:focus {
      border-color: #ff6900;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(240, 133, 11, 0.25);
    }
  }
  .ProseMirror h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .ProseMirror h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.8rem 0;
  }
  
  .ProseMirror h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0.6rem 0;
  }
  
  .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }
  button:hover {
    opacity: 0.7;
    cursor:pointer;
  }
  button.active {
    color: #ff6900;
  }
  button {
    margin-right: 5px;
  }
  .editor-image {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }